{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facturen van {{ user.username }}</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Cursus</th>
                <th>Bedrag</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>


        {% for factuur in factuurs %}

            <tr>
                <td><a href="{{ path('factuur_show', { 'id': factuur.id }) }}">{{ factuur.id }}</a></td>
                <td>{{ factuur.naam }}</td>
                <td>{{ factuur.course.name }}</td>
                <td>€{{ factuur.course.price }}</td>
                <td>{{ factuur.user.username }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('factuur_show', { 'id': factuur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('factuur_edit', { 'id': factuur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('factuur_new') }}">Create a new factuur</a>
        </li>
    </ul>
{% endblock %}
