
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Home{% endblock %}</title>
    {% stylesheets 'bundles/app/template/layout/styles/*'
    filter='cssrewrite' %}



    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% image 'bundles/app/template/images/demo/backgrounds/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endimage %}

    {% image 'bundles/app/template/images/demo/gallery/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endimage %}

    {% javascripts 'bundles/app/template/layout/scripts/*' %}
    <link rel="javascript" href="{{ asset_url }}" />
    {% endjavascripts %}
</head>
<body>
<div class="wrapper row1">
    <header id="header" class="clear">
        <div id="logo" class="fl_left">
            <h1><a href="index.html">Talencursussen</a></h1>
        </div>
        {% block sidebar %}
        <nav id="mainav" class="fl_right">
            <ul class="clear">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('about_index') }}">About</a></li>
                <li><a href="{{ path('course_index') }}">Cursussen</a></li>
                {% if app.user %}
                    <li><a href="{{ path('user_index') }}">Mijn gegevens</a></li>
                    <li><a href="{{ path('factuur_index') }}">Facturen</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
                <li><a href="{{ path('contact_index') }}">Contact</a></li>
            </ul>
        </nav></header>
</div>
{% block body %}



        {% endblock %}

</body>{% block footer %}<div class="wrapper row5">
    <footer id="footer" class="clear">
        <!-- ################################################################################################ -->
        <div class="one_half first">
            <h6 class="title">Talencursus</h6>
            <p class="nospace btmspace-30">De Talencursus heeft geen copyright of andere onzin die ik hier onder moet zetten omdat, dit automatisch al zo geregeld is.</p>
            <ul class="nospace">
                <li class="btmspace-10">
                    <address>
                        <span class="fa fa-map-marker"></span>Adress TalenPlein 6258 ,2749DP Leiden
                    </address>
                </li>
                <li class="btmspace-10"><span class="fa fa-phone"></span> +00 (123) 456 7890</li>
                <li><span class="fa fa-envelope-o"></span> info@talencursus.nl</li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="title">Nieuwsbrief?</h6>
            <form class="btmspace-50" method="post" action="#">
                <fieldset>
                    <legend>Newsletter:</legend>
                    <input class="btmspace-15" type="text" value="" placeholder="Email">
                    <button type="submit" value="submit">Submit</button>
                </fieldset>
            </form>

        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
    <div class="wrapper row6">
        <div id="copyright" class="clear">
            <!-- ################################################################################################ -->
            <p class="fl_left">NO-Copyright Ⓒ 2016 - All Rights Reserved - <a href="#">Monkeybusiness</a></p>

            <!-- ################################################################################################ -->
        </div>
    </div>{% endblock %}{% endblock %}


    {% block javascripts %}
        {% javascripts 'javascript1.js' 'javascript2.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</html>