{% extends 'base.html.twig' %}

{% block body %}
    <h1>User list</h1>


    Zie hieronder uw gegegevens
    <table>
        <thead>
            <tr>

                <th>Naam</th>
                <th>Password</th>
                <th>Email</th>
                <th>Telefoon</th>
                <th>Adres</th>
                <th>Gemeente</th>

            </tr>
        </thead>
        <tbody>

            <tr>

                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telefoon }}</td>
                <td>{{ user.adres }}</td>
                <td>{{ user.gemeente }}</td>

            </tr>


        </tbody>
    </table>
    <p><a href="{{path('user_edit', { 'id': user.id }) }}">Gegevens aanpassen</a></p>

{% endblock %}
