{% extends 'base.html.twig' %}
{# app/Resources/views/courses.html.twig #}
{% block body %}


        {# app/Resources/views/courses.html.twig #}

        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->

                <!-- main body -->
                <!-- ################################################################################################ -->
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.telefoon) }}
            {{ form_row(form.adres) }}
            {{ form_row(form.gemeente) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <button type="submit">Register!</button>
            {{ form_end(form) }}

{% endblock %}
